/* color of the  */
table, th, td {
    border: 2px solid darkcyan;
    border-color:linear-gradient(266deg, #229fd4, #22d44d, #053711, #9816b8);
    border-collapse: collapse;
    text-align: center;
}
/* color of the word in the boxes */
th, td {
    padding: 15px;
    width:20%;
    height:40px;
    text-align: center;


}
th[colspan]{
  text-align: center;

}
