<html>

<head>
  <title>Budget</title>
  <link rel = "stylesheet" href = "/static/css/styleBudgetPage.css"/>
</head>

<body>
  <h1 class="header">Budget</h1>
<br> <br>
 <center>
  <h2>Fill this form out to create your budget!</h2>

  <p id="warning">Note: Put "0" if not applicable</p>
  </center>
  <form method = "post">
    <div id="week">
      <p>Week: </p>
      <input type="number" name = "week" placeholder="Week"/>
    </div>
  <div class= "parent">

    <div id="income">
      <h4>Income</h4>
      <p>Salary: </p>
      <div>
        <input type="number" name="salary" placeholder="0"/>
      </div>
      <p>Other (e.g. allowance): </p>
      <div>
        <input type="number" name="other_income" placeholder="0"/>
      </div>
    </div>

    <div id="save">
      <h4>Emergency Fund</h4>
      <p>Amount to set aside: </p>
      <div>
        <input type="number" name="emergency" placeholder="0"/>
      </div>
    </div>
  </div>
    <div id="expenses">
      <h4>Expenses</h4>
      <p>Tuition payment: </p>
      <div>
        <input type="number" name="tuition" placeholder="0"/>
      </div>
      <p>Rent: </p>
      <div>
        <input type="number" name="rent" placeholder="0"/>
      </div>
      <p>Food, including groceries: </p>
      <div>
        <input type="number" name="food" placeholder="0"/>
      </div>
      <p>Transportation: </p>
      <div>
        <input type="number" name="transportation" placeholder="0"/>
      </div>
      <p>Clothing: </p>
      <div>
        <input type="number" name="clothing" placeholder="0"/>
      </div>
      <p>Miscellaneous: </p>
      <div>
        <input type="number" name="misc" placeholder="0"/>
        <br>
        <br>

      </div>

    </div>
    <button type="submit">Create my budget!</button>


    <!-- <button type="submit">Create my budget!</button> -->

  </form>

  <h2 class="otherHeader">Fill this form out during the week to add to your spreadsheet!</h2>

  <form id="fillForm"method = "post" action = "/savebudget">

    <h4>Payments</h4>
    <select name="payments">
      <option value = "tuition">Tuition payment</option>
      <option value = "rent">Rent</option>
      <option value = "food">Food, including groceries</option>
      <option value = "transportation">Transportation</option>
      <option value = "clothing">Clothing</option>
      <option value = "misc">Miscellaneous</option>
    </select>

    <input type="number" name = "amount" placeholder = "0"/>
    <input type="number" name = "week" placeholder = "Week"/>
    <button type="submit">Add to my budget!</button>

  </form>

</body>

</html>
