<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/stylelogin.css" >
  </head>

  <body >

    <!-- <h1></h1> -->
    {% if user %}
      <h1>Welcome, {{nickname}}!</h1>
      <meta http-equiv="refresh" content="0; URL=http://localhost:8080/home">
      <meta name="keywords" content="automatic redirection">
      <br>
    <button><a id="button" href="{{logout_url}}">Sign Out</a></button>
      {% else %}
     <h1 class="header">BudgeEasy</h1>
     <h1>Welcome!</h1>
       <button><a href="{{login_url}}">Sign In</a></button>
       {% endif %}

       <!-- class="bg"></div> -->

  </body>
</html>
