<html>
  <head>
    <title>Bill Spiltter</title>
      <link rel = "stylesheet" href = "/static/css/styleSplitBill.css"/>
  </head>
  <body>
    <h1 class="header">Split a Bill with Friends</h1>
    <br> <br>
    <form method="post">
      <p>What was the total bill?</p>
      <input type="number" name="totalbill" placeholder="0"/>
      <p>How many people are there?</p>
      <input type="number" name="totalpeople" placeholder="0"/>
      <br>
      <br>
      <button type="submit">Calculator</button>

    </form>
  </body>
</html>
